<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Guess the Number Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" align="center">
    <div class="jumbotron">
        <h1 class="display-3">The Number Game</h1>
    </div>
    <div class="col-lg-3 border border-primary text-center" style="padding-top: 10px; padding-bottom:10px;">
        <h2>Game Over</h2>
        <h3 th:text="${__${T(com.yfy.util.AttributeNames).RESULT_MESSAGE}__}">
            Result Message placeholder</h3>
        <a class="btn btn-primary" style="padding-top: 5px" th:href="@{__${T(com.yfy.util.GameMappings).RESET}__}">Play
            again</a>
        <a class="btn btn-secondary" style="padding-top: 5px"
           th:href="@{__${T(com.yfy.util.GameMappings).HOME}__}">Home</a>

    </div>
</div>
<footer>
    <p class="navbar fixed-bottom text-center">Copyright YFY 2018.</p>
</footer>
</body>
</html>